/* global styles */
body {
  background-color: #00b248;
}
h1,
h2 {
  text-align: center;
  font-family: 'Rammetto One', cursive;
}
h1 {
  font-size: 48px;
}
li {
  display: inline-block;
}
a {
  font-size: 36px;
  color: #ff4081;
}
label {
  color: #ff4081;
}
/*header styles*/
header li {
  margin: 0 10px;
}
header li:first-of-type {
  margin-left: 0;
}
/*footer styles*/
footer a {
  font-size: 64px;
}
