/* global styles */
body {
  background-color: #ffffff;
  font-family: 'Bree Serif', serif;
}
h1,
h2 {
  text-align: center;
  font-family: 'Rammetto One', "cursive";
  color: #ff4081;
}
h1 {
  font-size: 48px;
}
p {
  font-size: 1em;
  padding: 1em;
  line-height: 1.5;
}
p:first-of-type {
  color: #010101;
}
li {
  display: inline-block;
}
a {
  font-size: 36px;
  color: #66ffa6;
}
a.hover {
  cursor: pointer;
  text-decoration: none;
}
label {
  color: #ff4081;
}
/*header styles*/
html {
  font-size: 16px;
}
header {
  background: url('../images/header_photo.jpeg');
  height: 300px;
  background-size: cover;
  margin-top: -50px;
}
header li {
  margin: 0 5px;
  font-size: 1.44em;
}
header li:first-of-type {
  margin-left: 0;
}
.transparency {
  position: relative;
  width: 80%;
  height: 200px;
  background: black;
  opacity: 0.6;
  margin: 50px auto;
  border-radius: 0 0 10px 10px;
}
.header_stuff {
  position: relative;
  margin-top: -240px;
}
figure {
  margin: auto;
}
figure img {
  margin: 7px;
}
.food_text {
  position: relative;
  color: #66ffa6;
  margin-top: -70px;
  text-align: center;
  font-size: 50px;
}
/*footer styles*/
footer {
  background: #010101;
}
footer a {
  font-size: 64px;
}
footer li {
  display: inline-block;
  margin-left: 10%;
}
iframe {
  width: 90%;
  margin: 10px 5%;
  height: 300px;
}
/* tables styles */
@media screen and (min-width: 400px) {
  nav ul {
    margin-left: 22.5%;
  }
  .halfer {
    float: left;
    width: 50%;
  }
  figure img {
    padding: 5px;
  }
  p:first-of-type {
    margin-top: 55px;
  }
  .copy {
    width: 100%;
  }
  .clearfix {
    overflow: auto;
  }
  .clearfix:after {
    content: "";
    clear: both;
    display: table;
  }
}
